/*
Custom Css
*/

.dropdown {
	position: relative;
	display: inline-block;
}

.dropbtn {
	cursor: pointer;
}

.dropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	font-weight: 400;
	background-color: #E6E6E6;
	min-width: 120px;
	border-radius: 3px;
	text-align: center;
}
.dropdown-content a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	padding: 12px 20px;
	border-radius: 3px;
	vertical-align: middle;
	
}
.dropdown-content a:hover {
	background-color: #D1D1D1;
	color: #FFFFFF;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* header */
.hdropdown {
	position: relative;
	display: inline-block;
}

.hdropbtn {
	cursor: pointer;
}

.hdropdown-content {
	display: none;
	position: absolute;
	z-index: 1;
	font-weight: 400;
	background-color: #787878;
	min-width: 120px;
	border-radius: 3px;
	text-align: center;
}
.hdropdown-content a {
	display: block;
	text-decoration: none;
	font-size: 12px;
	padding: 12px 20px;
	border-radius: 3px;
	vertical-align: middle;
	
}
.hdropdown-content a:hover {
	background-color: #D1D1D1;
	color: #FFFFFF;
}

.hdropdown:hover .hdropdown-content {
	display: block;
}
